
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>

<!--Bootstrap Grid System-->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <h4>Use Case 1</h4>
            <img src="~/Content/Use_Cases/Use Case 1.PNG" height="350" width="260" />
        </div>
        <div class="col-lg-3">
            <h4>Use Case 2</h4>
            <img src="~/Content/Use_Cases/Use Case 2.PNG" height="350" width="260" />
        </div>
        <div class="col-lg-3">
            <h4>Use Case 3</h4>
            <img src="~/Content/Use_Cases/Use Case 3.PNG" height="350" width="260" />
        </div>
        <div class="col-lg-3">
            <h4>Use Case 4</h4>
            <img src="~/Content/Use_Cases/Use Case 4.PNG" height="350" width="260" />
        </div>
    </div>
</div>
<br/>
<br/>
<br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-offset-3">
            <h4>Structured Class Diagram</h4>
            <img src="~/Content/Use_Cases/Structure Diagram.PNG"  height="550" width="600" />
        </div>
    </div>
</div>
